
			
				<!--<div class="row">
					<div class="col">
						<h2><a href="#">{{ fields.title.content }} </a></h2>
						<h3>{{ fields.field_description.content }}</h3>
						<a href="#" class="read d-none d-md-none">Read more</a>
					</div>
				</div>
				<div class="row numbers-line">
					<div class="col">
						<p>
						  <a href="#"><span class="our-number">
						  {{ fields.field_target.content }}               <br></span> targets</a>
						</p>
					</div>
					<div class="col">
						<p>
						  <a href="#"><span class="our-number">
							{{ fields.field_partnership.content }}                    <br></span> partnerships</a>
						</p>
					</div>
					<div class="col">
						<p>
						  <span class="our-number">
							{{ fields.field_publication.content }}                    <br></span> publications
						</p>
					</div>
					<div class="col">
						<p>
						  <span class="our-number">
							{{ fields.field_document.content }}<br></span> documents
						</p>
					</div>
				</div>-->
				<div class="gsc-column col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12  " style="padding-bottom:50px">
					<div class="column-inner  bg-size-cover  ">
						<div class="column-content-inner">
							<div class="widget gsc-heading  align-left style-1 ">
            
								<div class="heading-content clearfix">
									<div class="sub-title sdg">
										<span>{{ fields.title.content }}</span>
									</div>
									<h2 class="title">
										<span><strong>{{ fields.field_description.content }}</strong></span>									
									</h2>                
								</div>                       
							</div>
							<div class="clearfix">
							</div>
							<div class="gbb-row-wrapper">
								<div class=" gbb-row  bg-size-cover " style="">
									<div class="bb-inner  ">  
										<div class="bb-container container">
											<div class="row row-wrapper">
												<div class="gsc-column col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12  ">
													<div class="column-inner  bg-size-cover  ">
														<div class="column-content-inner">
															<div class="widget gsc-icon-box left box-margin-medium">
               
																<div class="highlight-icon">
																	<span class="icon-inner ">   
																		<span class="icon-container fa-3x   color-theme">
																			<span class="icon zmdi zmdi-collection-bookmark"></span>                                                   
																		</span>
																	</span>
																</div>
               
																<div class="highlight_content verticle-align-top">
																	<h3 class="title text-black">Targets</h3>                     
																	<div class="desc text-gray ">
																		<p>{{ fields.field_target.content }}</p>
																	</div>                     
																</div>                
															</div>                         
														</div>  
													</div>
        
												</div>
												<div class="gsc-column col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12  ">
													<div class="column-inner  bg-size-cover  ">
														<div class="column-content-inner">
															<div class="widget gsc-icon-box left box-margin-medium">               
																<div class="highlight-icon">
																	<span class="icon-inner ">   
																		<span class="icon-container fa-3x   color-theme">
																			<span class="icon zmdi zmdi-coffee"></span>                                                    
																		</span>
																	</span>
																</div>
               
																<div class="highlight_content verticle-align-top">
																	<h3 class="title text-black">Partnerships</h3>                     
																	<div class="desc text-gray ">
																		<p>{{ fields.field_partnership.content }}</p>
																	</div>                     
																</div>                
															</div>                         
														</div>  
													</div>        
												</div>
											</div>
										</div>
									</div>  
								</div>  
							</div>
							<div class="gbb-row-wrapper">
								<div class=" gbb-row  bg-size-cover " style="">
									<div class="bb-inner  ">  
										<div class="bb-container container">
											<div class="row row-wrapper">
												<div class="gsc-column col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12  ">
													<div class="column-inner  bg-size-cover  ">
														<div class="column-content-inner">
															<div class="widget gsc-icon-box left box-margin-small">               
																<div class="highlight-icon">
																	<span class="icon-inner ">   
																		<span class="icon-container fa-3x   color-theme">
																			<span class="icon zmdi zmdi-favorite-outline"></span>
																		</span>
																	</span>
																</div>               
																<div class="highlight_content verticle-align-top">
																	<h3 class="title text-black">Publications</h3>                     
																    <div class="desc text-gray ">
																		<p>{{ fields.field_publication.content }}</p>
																	</div>                     
																</div>                
															</div>                         
														</div>  
													</div>        
												</div>
												<div class="gsc-column col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12  ">
													<div class="column-inner  bg-size-cover  ">
														<div class="column-content-inner">
															<div class="widget gsc-icon-box left box-margin-small">               
																<div class="highlight-icon">
																	<span class="icon-inner ">   
																		<span class="icon-container fa-3x   color-theme">
																			<span class="icon zmdi zmdi-account-add"></span>
																		</span>
																	</span>
																</div>               
																<div class="highlight_content verticle-align-top">
																	<h3 class="title text-black">Documents</h3>                     
																	<div class="desc text-gray ">
																		<p>{{ fields.field_document.content }}</p>
																	</div>                     
																</div>                
															</div>                         
														</div>  
													</div>        
												</div>
											</div>
										</div>
									</div>  
								</div>  
							</div>
						</div>  
					</div>        
				</div>